@page "/diagram/{diagramId}"

@inject HttpClient Client
@inject IJSRuntime JSRuntime

@using Blazor.Markdown.Shared.Model
@using Blazor.Markdown.Shared.Model.Options
@using Blazor.Markdown.Shared.Model.Returns

<style>
    .top-row a {
        border-right: 1px solid silver;
        height: 100%;
        width: 50px;
    }

    .diagram-toolbar {
        background-color: #E6E6E6;
    }

        .diagram-toolbar ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

            .diagram-toolbar ul li button {
                padding: 0;
                width: 50px;
                height: 50px;
                border-radius: 0;
            }

                .diagram-toolbar ul li button.active {
                    background-color: #cccccc;
                }
</style>

<div class="app-page-diagram flex-fill d-flex flex-row">
    <div class="diagram-toolbar">
        <ul class="h-100">
            <li>
                <button type="button" class="btn"><i class="fas fa-mouse-pointer"></i></button>
            </li>
            <li>
                <button type="button" class="btn" @onclick="this.AddComponent"><i class="fas fa-square"></i></button>
            </li>
            <li>
                <button type="button" class="btn"><i class="fas fa-trash"></i></button>
            </li>
            <li class="mt-auto">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-code"></i></button>
            </li>
        </ul>
    </div>
    <div id="diagram-container" class="flex-fill">
        <canvas id="diagram-canvas"></canvas>
        <div class="diagram-coordinates"></div>
        <div class="diagram-info">
            @if (this.DiagramModel != null)
            {
                <div>@this.DiagramModel.Name - @this.DiagramModel.Components.Count component(s) w/ @this.DiagramModel.Components.SelectMany(x => x.Connections).Count() connection(s)</div>
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Components</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <code>
                    <pre>
                        @if (this.DiagramModel != null)
                        {
                            @Newtonsoft.Json.JsonConvert.SerializeObject(this.DiagramModel.Components, Newtonsoft.Json.Formatting.Indented);
                        }
                    </pre>
                </code>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string DiagramId { get; set; }

    public string[] Shapes = new string[3]
    {
        "Square", "Triangle", "Circle"
        };

    public DiagramFetchResponse DiagramModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.DiagramModel = await this.Client.GetFromJsonAsync<DiagramFetchResponse>("api/diagram/get/" + this.DiagramId);
        await this.JSRuntime.InvokeVoidAsync("markdownApp.createDiagramEngine", this.DiagramModel);
    }

    protected async void AddComponent()
    {
        HttpResponseMessage _response = await this.Client.PostAsJsonAsync<ComponentCreationOptions>("api/diagram/component/add", new ComponentCreationOptions()
        {
            DiagramId = this.DiagramModel.Id,
            Type = "rectangle"
        });

        Component _component = await _response.Content.ReadFromJsonAsync<Component>();

        await this.JSRuntime.InvokeVoidAsync("markdownApp.diagramEngine.addComponent", _component);

    }
}

<style>
    .modal-header, .modal-footer {
        border: none;
    }

    #diagram-container {
        position: relative;
    }

    .diagram-coordinates {
        position: absolute;
        left: 30px;
        bottom: 30px;
    }

    .diagram-info {
        position: absolute;
        right: 30px;
        bottom: 30px;
    }

    .diagram-properties {
        width: 250px;
        background-color: #eeeeee;
    }

    .ribbon {
        position: absolute;
        bottom: 60px;
        width: 300px;
        left: calc(50% - 150px);
        margin: 0 auto;
        background: white;
        border-radius: 5px;
    }

    .diagram-properties table tbody tr td {
        width: 50%;
        background-color: #ffffff;
    }

        .diagram-properties table tbody tr td:first-child {
            border-left: none;
        }

        .diagram-properties table tbody tr td:last-child {
            border-right: none;
        }

    .diagram-properties table tbody tr:last-child td {
        border-bottom: none;
    }
</style>